<h1> Editar <%= @kind.name %></h1>

<%= form_for @kind do |f| %>
  <p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category_id, "Categoria" %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </p>
  <p><%= f.submit %></p>
<% end %>

