<h1>Cadastrar novo tipo de Entrada / Despesa</h1>

<%= form_for @kind do |f| %>
	<p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :name, "Categoria" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
	<p><%= f.submit %></p>
<% end %>