<h1>Cadastrar novo tipo de Entrada / Despesa</h1>

<%= form_for @kind do |kind| %>
	<p>
    <%= kind.label :name, "Nome" %><br>
    <%= kind.text_field :name %>
  </p>
	<p>
    <%= kind.label :name, "Categoria" %><br>
    <%= kind.collection_select(:category_id, Category.all, :id, :name) %>
  </p>
	<p><%= kind.submit %></p>
<% end %>