<%= form_for @cash_flow, html: { class: "form-horizontal" } do |f| %>
  <% if @cash_flow.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @cash_flow.errors.full_messages.each do |msg| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= msg %><br/>
      <% end %>
    </div>        
  <% end %>
  <div class="form-group">
    <%= f.label :kind_id, class: "col-sm-2 control-label" %>
    <div class="col-md-4">
      <%= f.collection_select(:kind_id, Kind.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :value, class: "col-sm-2 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :value, step: 0.01, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-md-4">
      <%= f.date_field :date %>
    </div>
  </div>
  
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>