<%= form_for @cash_flow do |f| %>
  <% if @cash_flow.errors.any? %>
    <ul>
      <% @cash_flow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :value %><br>
    <%= f.number_field :value, step: 0.01 %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :kind_id %><br>
    <%= f.collection_select(:kind_id, Kind.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :popo_id %><br>
    <%= f.collection_select(:popo_id, Popo.all, :id, :name) %>
  </p>
  <p><%= f.submit %></p>
<% end %>