<%= form_for @cash_flow do |f| %>
  <% if @cash_flow.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @cash_flow.errors.full_messages.each do |msg| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= msg %><br/>
      <% end %>
    </div>        
  <% end %>

  <div class="row">
    <div class="col-xs-6 col-md-2">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, value: Date.today, class: "form-control input-sm" %>
      </div>
    </div>
   
    <div class="col-xs-6 col-md-2">
      <div class="form-group">
        <%= f.label :kind_id %>
        <%= params[:category] %>
        <%= f.collection_select(:kind_id, Kind.all, :id, :name, 
                                                {}, class: "form-control input-sm") %>
      </div>
    </div>
    <div class="col-xs-6 col-md-2">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="col-xs-6 col-md-1">
      <div class="form-group">
        <%= f.label :value %>
        <%= f.number_field :value, step: 0.01, class: "form-control input-sm" %>
      </div>
    </div>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>

      