<h1>Descrição das Entradas / Despesas</h1>

<table class="zebra" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>
				Data
			</th>
		  <th>
				Popo
			</th>
			<th>
				Descrição
			</th>
			<th>
				Tipo
			</th>
			<th>
				Valor
			</th>
			<th>
            </th>	
		</tr>
	</thead>
	<tbody>
	  <% @cash_flows.each do |cash_flow| %>
	  <tr>
	  	<td>
	  		<%= cash_flow.date %>
	  	</td>
	    <td>
	  	  <%= Popo.find(cash_flow.popo_id).name %>	
	  	</td>
      <td>
	  		<%= cash_flow.description %>
	  	</td>
	  	<td>
	  		<%= Kind.find(cash_flow.kind_id).name %>
	  	</td>
	  	<td>
	  		<%= cash_flow.value %>
	  	</td>
	  	<td> 
	  	  <%= link_to 'editar', edit_cash_flow_path(cash_flow) %> | 
          <%= link_to 'remover', cash_flow, method: :delete, data: { confirm: "Você tem certeza que quer remover #{cash_flow.description}?" } %>		
	  		
	  	</td>
	  	<% end %>
	  </tr>
	</tbody>

</table>

<%= link_to "Registrar nova Entrada / Despesa", new_cash_flow_path %>