<div class="row">
	<div class="col-md-4">
		<%= select_month Date.today, class: "form-control" %>
		<%= select_year Date.today %>
	</div>
	<div class="col-md-8">
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Data
			</th>
			<th>
				Tipo
			</th>
		  <th>
				Descrição
			</th>
			<th>
				Valor
			</th>
			<th>
      </th>	
		</tr>
	</thead>
	<tbody>
	  <% @popo_cash_flow.each do |cash_flow| %>
	  <tr>
	  	<td>
	  		<%= cash_flow.date %>
	  	</td>
	  	<td>
	  		<%= Kind.find(cash_flow.kind_id).name %>
	  	</td>
      <td>
	  		<%= cash_flow.description %>
	  	</td>
	  	<td>
	  		<%= number_to_currency(cash_flow.value) %>
	  	</td>
	  	<td> 
	  		<div class="btn-group btn-group-sm">
	  	  <%= link_to edit_cash_flow_path(cash_flow), class: "btn btn-default" do %>
	  	  	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	  	  <% end %> 
          <%= link_to cash_flow, method: :delete, data: { confirm: 
          	"Você tem certeza que quer remover #{cash_flow.description}?" }, class: "btn btn-default" do %>		
	  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	  			<% end %>
	  		</div>
	  	</td>
	  	<% end %>
	  </tr>
	</tbody>

</table>

<%= link_to "Registrar nova Entrada / Despesa", new_cash_flow_path %>