<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>

    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>



  <p>
    <%= f.radio_button :admin, true %>
    <%= f.label :admin_true, "Administrador" %>
    <%= f.radio_button :admin, false %>
    <%= f.label :admin_false, "Usuário Comum"  %>
  </p>



  <p>
    <%= f.label :is_married %><br>
    <%= f.select :is_married, [["Casado", true], ["Vida Comum", false]] %>
  </p>
  <p><%= f.submit %></p>
<% end %>