<%= form_for @popo do |f| %>
  <% if @popo.errors.any? %>
    <ul>
      <% @popo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_married %><br>
    <%= f.select :is_married, [["Casado", true], ["Vida Comum", false]] %>
  </p>
  <p><%= f.submit %></p>
<% end %>