<h1>Popos do Regional São Paulo</h1>


<table class="popos" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>
        Nome
      </th>
      <th>
        Tipo
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @popos.each_with_index do |popo, i| %>
      <tr>
        <td>
          <%= link_to popo.name, popo %>
        </td>

        <td>
          <%= @popos_string[i] %>
        </td>


        <td>
          <%= link_to "Editar", edit_popo_path(popo) %>
        </td>
        <td>
          <%= link_to 'Deletar', popo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>





<p><%= link_to "Cadastrar Popo", new_popo_path%></p>