<h1>Popos do Regional São Paulo</h1>
<%= @kinds %>

<table class="zebra" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>
        Nome
      </th>

      <th>
        Email
      </th>
      
      <th>
        Tipo
      </th>

      <th>
        Papel
      </th>

      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @popos.each do |popo| %>
      <tr>
        <td>
          <%= link_to popo.name, popo %>
        </td>

        <td>
          <%= popo.email %>
        </td>

        <td>
          <%= popo_status(popo) %>
        </td>

        <td>
          <%= popo_role(popo) %>
        </td>

        <td>
          <%= link_to "editar", edit_popo_path(popo) %> | 
          <%= link_to 'remover', popo, method: :delete, data: { confirm: "Você tem certeza que quer remover #{popo.name}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>





<p><%= link_to "Cadastrar Popo", new_popo_path%></p>