<h1>Cadastrar novo Popo</h1>

<%= form_for @popo do |f| %>
	<p><%= f.label :name, "Nome" %><%= f.text_field :name %></p>
	<p><%= f.label :is_married, "É casado?" %><%= f.select(:is_married, [true, false]) %></p>
	<p><%= f.submit "Adicionar Popo" %></p>
<% end %>