<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>  
      <tbody>
        <% @cash_flows.each do |cash_flow| %>
          <tr>
            <td><%=l cash_flow.date, format: :long %></td>
            <td><%= cash_flow.kind.name %></td>
            <td><%= cash_flow.description %></td>
            <td><%= number_to_currency(cash_flow.value) %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Soma</th>
        </tr>
      </thead>
      <tbody>
        <% @categories_sum.each do |category, sum| %>
          <tr>
            <td><%= category %></td>
            <td><%= number_to_currency sum %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>







