<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>  
      <tbody>
        <% @user_cashflows.each do |cash_flow| %>
          <tr>
            <td><%= cash_flow.date %></td>
            <td><%= cash_flow.kind_id %></td>
            <td><%= cash_flow.description %></td>
            <td><%= number_to_currency(cash_flow.value) %></td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr><%= number_to_currency(@values_1.sum) %></tr>

        <tr></tr>
      </thead>
      <tbody>
          <tr>
            <td>
            </td>
          </tr>
          <tr>
          </tr>
      </tbody>
    </table>
  </div>
</div>







