<!DOCTYPE html>
<html>
<head>
  <title>Rosso - Focolare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header class="main-header">
    <h1><%= link_to "Rosso", root_path %></h1>
  </header>

  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end -%>
  
  <%= yield %>

</body>
</html>
